mixin graph-card(id, isErrorPlot)
    .col-lg-12.col-sm-12.m-sm-2.graph-card(style='background-color: #f0f0f0;', data-id=id)
        .p-3
            .row
                if (!isErrorPlot)
                    .col-lg-6.col-sm-6
                        b Grid steps:&nbsp;
                        span.grid-steps 200
                        br
                        input.slider(type='text' data-slider-min='1' data-slider-max='500' data-slider-step='1' data-slider-value='200')
                .col-lg-6.col-sm-6.text-sm-right(class=(isErrorPlot ? 'offset-6' : ''))
                    br.d-inline.d-sm-none
                    button.btn.btn-primary.customise-btn Customise
        .h-100.p-1
            .plot(id='plot-' + id)
            br

mixin graph-checkbox(name, label, checked, color, errorChk)
    - var mthChkId=`customise${name}Chk`
    - var errChkId=`customise${name}ErrChk`
    - var btnId=`customise${name}ColorBtn`
    .form-group.row
        .col-5.offset-1.mt-auto
            script
                != 'document.addEventListener("DOMContentLoaded", function() {'
                != 'var mthChk = $("#' + mthChkId + '");'
                != 'var errChk = $("#' + errChkId + '");'
                != 'var listener = function() {'
                != 'if (mthChk.length && mthChk.prop("checked") || errChk.length && errChk.prop("checked")) {'
                != '$("#' + btnId + '").show();\n'
                != '} else $("#' + btnId + '").hide();'
                != '};'
                != '$("#' + mthChkId + '").on("change", listener);'
                != '$("#' + errChkId + '").on("change", listener);'
                != '});'
            .form-check
                input.form-check-input.modal-mth-chk(
                type="checkbox", id=mthChkId,
                name=name,
                checked=checked,
                autocomplete="off"
                )
                label(for=mthChkId).h5.font-weight-light.customise-label=label
        .col-3.mt-sm-auto.mb-auto
            a.btn.btn-primary.modal-customise-btn(
            id=btnId, title="Pick a color",
            style=`background-color: ${color};border-color: ${color};` + (checked ? '' : 'display: none;'),
            data-toggle="tooltip" data-placement="top"
            ) &nbsp;
        .col-3
            if errorChk
                .form-check
                    input.form-check-input.modal-err-chk(
                    type="checkbox", id=errChkId,
                    name=name+'Err',
                    checked=false,
                    autocomplete="off"
                    )

mixin scripts
    script(src='js/jquery.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='js/bootstrap.js')

    // Slider
    script(src='js/bootstrap-slider.min.js')

    // Plot.ly
    script(src='https://cdn.plot.ly/plotly-latest.min.js')

    // Color-picker
    script(src='./js/bootstrap-colorpicker.min.js')

    // Numeric methods logic
    script(src='./js/num.methods.js')

    // Utils
    script(src='./js/num.util.js')

    // Front-end
    script(src='./js/front.js')
    script(src='./js/main.js')