mixin graph-checkbox(name, label, checked, color)
    - var id=`customise${name}Chk`
    - var btnId=`customise${name}ColorBtn`
    .form-group.row
        .col-5.offset-1.mt-auto
            script
                != 'document.addEventListener("DOMContentLoaded", function() {'
                != '$("#' + id + '").on("click", function(ev) {'
                != 'if(this.checked) {'
                != '$("#' + btnId + '").show();\n'
                != '} else $("#' + btnId + '").hide();'
                != '});'
                != '});'
            .form-check
                input.form-check-input(
                    type="checkbox", id=id,
                    name=name,
                    checked=checked,
                    autocomplete="off"
                )
                label(for=id).h5.font-weight-light.customise-label=label
        .col-auto.mt-sm-auto.mb-auto
            a.btn.btn-primary.customise-btn(
                id=btnId, title="Pick a color",
                style=`background-color: ${color};border-color: ${color};` + (checked ? '' : 'display: none;'),
                data-toggle="tooltip" data-placement="top"
            ) &nbsp;